{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Spotify Artist Search</h1>
    <p class="lead">{{ description }}</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{{ url_for('search_routes.search_form') }}" role="button">Start Searching</a>
</div>
{% endblock %}



<!-- {% extends "bootstrap_5_layout.html" %}

{% set active_page = "home" %}

{% block content %}

    <h1>Welcome Home</h1>

    <p>This is a paragraph on the "home" page.</p>

{% endblock %} -->